# Garantiza que nadie pueda importar librerías no declaradas
shamefully-hoist=false

# Exige que la versión de pnpm sea exactamente la definida en packageManager
engine-strict=true

# Guarda el estado exacto de resolución de dependencias
lockfile=true